@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment hostEnv


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>gh-blazor</title>

@*Check the environment value BEFORE it loads*@
@if (hostEnv.IsDevelopment())
{
   bstr = "/";
   //Console.WriteLine("Dev");
}
else
{
   bstr = "/gh-blazor/";
   //Console.WriteLine(bstr);
}

<base href="@bstr" />
<link href="css/app.min.css" rel="stylesheet" />
@* <link href="gh-blazor.styles.css" rel="stylesheet" /> *@

@code
{
          public string bstr = "";
}