@page "/"

<h1>Hello, world!</h1>

<img src='/imgs/ProfilePic.png' class='w-25 rounded-circle mx-auto d-block'>

<p>
    Welcome to my Blazor App!<br>
    This will replace my first portfolio attempt at
    <a href="https://tduffinntu.github.io">tduffinntu.github.io</a>
</p>

