@page "/"

<h1>Hello, World!</h1>

<!-- remove leading / to make path relative to base !! -->
<img src='imgs/ProfilePic.jpg' class='w-25 rounded-circle mx-auto d-block'>

<p>
    I'm a new grad from NTU, graduating in the summer of 2021 with a 1st Class (Honours) in <br>
    BSc Computer Science (With Games Technology).<br>
    Welcome to my (WIP) Site!
</p>

