<nav class="bg-gray-800 flex flex-col pt-5 filter drop-shadow-md">
    <a href=""class="place-self-center ">
        <img src="imgs/ProfilePic.jpg" class="w-32 rounded-lg hover:opacity-75">
    </a>
    <ul class="flex flex-col mx-5 pt-5 space-y-3" style="width:130px;">

        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home mr-2" aria-hidden="true"></span> Home
        </NavLink>

        <NavLink class="nav-item" href="projects">
            <span class="oi oi-project mr-2" aria-hidden="true" ></span> Projects
        </NavLink>

        <NavLink class="nav-item" href="blog">
            <span class="oi oi-book mr-2" aria-hidden="true" ></span> Blog
        </NavLink>

        <NavLink class="nav-item" href="https://github.com/tduffinntu/gh-blazor">
            <span class="oi oi-code mr-2" aria-hidden="true" ></span> Site Repo
        </NavLink>

        <NavLink class="nav-item flex flex-row" href="https://github.com/tduffinntu">
            <span class="iconify align-self-center mt-1 mr-2" data-icon="akar-icons:github-fill"></span> My GitHub
        </NavLink>
    </ul>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
